body {
    background: rgb(240, 241, 241);
  }

.description {
    font-size: 22px;
}

.description-content > p {
    padding-right: 100px;
}

#description-image {
    width: 700px;
    height: 400px;
}

.figcaptionpg5 {
    font-size: 18px;
}

